*{
    padding: 0;
    margin: 0;
}
:root {
    --white: #ffffff;
    --off-white: #e5e5e5;
    --transp-white-1: rgba(255, 255, 255, 0.25);
    --transp-white-2: rgba(255, 255, 255, 0.18);
    --blue-1: #62b8f5;
    --blue-2: #4475ef;
    --shadow: rgba(3, 46, 87, 0.2);
  }
body {
    background-image: url('./img/istockphoto-1875399300-1024x1024.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  
}

.container{
    width: 50%;
    
  /* background-color: #77ACF1; */
  background: var(--transp-white-2);
  backdrop-filter: blur(10px);
  margin: 6rem auto;
  padding: 2rem;
  border: 2px solid var(--transp-white-2);
  border-radius: 10px;
  color:rgb(5,41,51);
  
}
h1{
    text-align: center;
    color: rgb(5,41,51);
    margin-bottom: 15px;
}
h2{
  font-size: 2rem;
}
form{
  display:grid;
  grid-template-columns:72% 25%;
  grid-gap:3%;
}
input, .btn ::placeholder{
    background-color: transparent;
    
      /* color: var(--off-white);
      border-bottom: 2px solid var(--transp-white-1);   */ 
    padding: .5rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid white;
}
.btn{
    padding: .5rem 1rem;
    /* background-color:#F0EBCC ;
    color:#04009A ; */
    border:2px solid #04009A ;
    cursor:pointer;
    transition:.3s;
    color: var(--blue-2);
    background-color: transparent;
    border-radius: 0.3em;
  }
  .btn:hover{
    transform: translateY(-3px);
    background-color:rgb(5,41,51);
    color:#fff ;
  }
  .weather{
    margin-top:3rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:200px;
    background: var(--transp-white-2);
    backdrop-filter: blur(10px);
    padding: 1.5rem;
    border-radius:10px;
    display: grid;
    grid-template-columns: auto auto auto;
    
  }
  .left{
    width:100%;
    /* background-color:#343A40 ; */
    padding: 0.25rem;
   
    display: grid;
    grid-template-rows: auto auto auto;
    
    
    
    
  }
  .temp{
    text-align: center;
    padding-bottom: 0.5rem;
    
  }
  .sunarise {
    display: grid;
    grid-template-columns: 60px 70px;

  }
  .sunset {
    display: grid;
    grid-template-columns: 60px 70px;
    padding-bottom: 50px;

  }
  .city{

  }
  .middle{

    text-align:center;
  
  
  }
  .right{
    
    grid-template-rows: auto auto auto;
    
  }
  .humidity{
    padding: 12px;
    display: grid;
    grid-template-rows: 35px 10px;
  }
  .pressure{
    padding: 10px;
    display: grid;
    grid-template-rows: 35px 10px;
    padding-bottom: 10px;
    margin-bottom: 60px;
  }
  .icon{
  
  /* background:#d8c6c6; */
    height:85px;
    padding: .5rem;
    border-radius:0 10px 0 0;
    color:#04009A;
    /* filter: drop-shadow(0 1.8em 3.7em var(--shadow)); */
  }
  .iconset {
    height: 5px;
    width: 5px;
  }
  .condition{
    height:135px;
        /* background:#292929 ; */
    /* padding: .5rem; */
    border-radius:0 0 10px;
    color:rgb(5,41,51);
    font-size: 20px;
  }
  @media only screen and (max-width: 1000px) {
    .container{
     width:80%; 
    } 
  }
  @media only screen and (max-width: 700px) {
    .weather {
      flex-direction:column;
      height:auto;
    }
    .container{
      text-align:center;
      width:90%;
      height:90%;
    }
    .right{
      margin-top:.5rem;
      margin-left:0;
    }
    form{
      grid-template-columns:100%;
  
    }
  
  
  }
    